.search-bar {
    padding: 1rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  .search {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .search button {
    padding: 0.5rem; 
    border: 1px solid black;
    background-color: white;
    transition: color 0.1s linear, background-color 0.1s linear;
    cursor: pointer; 
  }
  
  .search button:hover {
    color: white;
    background-color: black; 
  }
  
  /* .search-bar {
    display: none; 
  } */
  
  .search-bar form {
    display: flex;
    grid-template-columns: 1rem 1fr;
    grid-gap: 20px;
  }
  
  .search-bar form > * {
    padding: 0.5rem 0rem;
  }
  
  .search-bar form input[type="search"] {
    -webkit-appearance: none;
    appearance: none; 
    border:0;
    letter-spacing: 1px;
    padding-left: 1rem;
    outline: none;
    width: 93%;
  }
  
  .search-bar form input[type="search"]::webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    color: black;
    box-shadow: 1px 1px 1px black;
  }
  .lock {
    width: 30px;
    height: 40px;
    float: right;
    position: relative;
    right: 0;
    top: 8px;
}
/* top -60px*/

.cursor{
    cursor:pointer
}
.loader_class {
    width: auto;
}
.below_text .lock img {
    margin-right: 0;
    margin-top: -19px;
}
.blk {
    position: relative;
    bottom: 0px;
    min-height: 290px;
    text-align: center;
    line-height: 230px;
  }
  .fa-lock img {
    width: auto;
   
  }

  @media(max-width:1200px){
    .blk{
        min-height: auto !important;
        line-height: normal !important;
    }
    .blk a{
        padding: 13px 0 !important;
        display: block !important;
    }
    .cate-card {
        position: static !important;
    }
    .below_text{
      position: static !important;
    }
    .lock_1{
        width:auto !important;
        height:auto !important;
        position: static !important;
        margin: 5px !important;
    }
    .lock_1 a{
        margin:0 !important;
        padding:0 !important;
    }
    .lock_1 img{
        margin:0 !important;
    }
    .blk p:first-of-type{
        display: flex !important;
        justify-content: space-between !important;
    }
    .cate-name{
        /* text-align: center; */
        width:100%;
        display: block !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
    }
  }

  @media (max-width:667px){
    .blk{
      min-height: auto;
      line-height: normal;
    }
    img.ng-lazyloaded {
      margin: 24px 24px  49px 24px !important;
  }
  }