<app-header [Navigation]="false"></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12 bg_color">
            <div class="close_btn">
                <img src="assets/images/close.png" (click)="home()" alt="close">
            </div>
            <div class="cat_description" *ngIf="languageswitch() == 1">
                <p>This page is used to inform website visitors regarding our policies with the collection, use, and
                    disclosure of Personal Information if anyone decided to use our Service. If you choose to use
                    our Service, then you agree to the collection and use of information in relation to this policy.
                    The Personal Information that we collect is used for providing and improving the Service. We
                    will not use or share your information with anyone except as described in this Privacy Policy..
                </p>
                <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions,
                    which is accessible at Quiz2play unless otherwise defined in this Privacy Policy. Information
                    Collection and Use</p>
                <p>For a better experience, while using our Service, we may require you to provide us with certain
                    personally identifiable information, including but not limited to camera, microphone, accounts,
                    contacts, or phone. The information that we request is will be retained by us and used as
                    described in this privacy policy</p>
                <p>The app/portal does use third party services that may collect information used to identify you.
                    Link to privacy policy of third party service providers used by the app/portal</p>
                <p>Google Play Services</p>
                <p>Log Data</p>
                <p>We want to inform you that whenever you use our Service, in a case of an error in the app/portal
                    we collect data and information (through third party products) on your phone called Log Data.
                    This Log Data may include information such as your device Internet Protocol ("IP") address,
                    device name, operating system version, the configuration of the app/portal when utilizing our
                    Service, the time and date of your use of the Service, and other statistics</p>
                <p>Cookies</p>
                <p>Cookies are files with small amount of data that is commonly used an anonymous unique identifier.
                    These are sent to your browser from the website that you visit and are stored on your device
                    internal memory.</p>
                <p>This Service does not use these "cookies" explicitly. However, the app/portal may use third party
                    code and libraries that use "cookies" to collection information and to improve their services.
                    You have the option to either accept or refuse these cookies and know when a cookie is being
                    sent to your device. If you choose to refuse our cookies, you may not be able to use some
                    portions of this Service</p>
                <p>Service Providers</p>
                <p>We may employ third-party companies and individuals due to the following reasons:</p>
                <p>To facilitate our Service;</p>
                <p>To perform Service-related services; or</p>
                <p>To assist us in analyzing how our Service is used</p>
                <p>We want to inform users of this Service that these third parties have access to your Personal
                    Information. The reason is to perform the tasks assigned to them on our behalf. However, they
                    are obligated not to disclose or use the information for any other purpose.</p>
                <p>Security</p>
                <p>We value your trust in providing us your Personal Information, thus we are striving to use
                    commercially acceptable means of protecting it. But remember that no method of transmission over
                    the internet, or method of electronic storage is 100% secure and reliable, and we cannot
                    guarantee its absolute security.</p>
                <p>Links to Other Sites</p>
                <p>This Service may contain links to other sites. If you click on a third-party link, you will be
                    directed to that site. Note that these external sites are not operated by us. Therefore, we
                    strongly advise you to review the Privacy Policy of these websites. We have no control over and
                    assume no responsibility for the content, privacy policies, or practices of any third-party
                    sites or services.</p>
                <p>Children's privacy</p>
                <p>These Services do not address anyone under the age of 12. We do not knowingly collect personally
                    identifiable information from children under 12. In the case we discover that a child under 12
                    has provided us with personal information, we immediately delete this from our servers. If you
                    are a parent or guardian and you are aware that your child has provided us with personal
                    information, please contact us so that we will be able to do necessary actions</p>
                <p>Changes to This Privacy Policy</p>
                <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page
                    periodically for any changes. We will notify you of any changes by posting the new Privacy
                    Policy on this page. These changes are effective immediately after they are posted on this page
                </p>
                <p>Contact Us if you have any questions or suggestions about our Privacy Policy, do not hesitate to
                    contact us.
                </p>
                <p>Quiz2play knows that you care how information about you is used and shared, and we appreciate
                    your
                    trust that we will do so carefully and sensibly. This notice describes our privacy policy. </p>
                <p>By visiting Quiz2play you are accepting the practices described in this Privacy Notice </p>
                <p>The information we learn from customers helps us personalize and continually improve your
                    Quiz2play experience. </p>
                <p>Conditions of Use, Notices, and Revisions </p>
                <p>If you choose to visit Quiz2play, your visit and any dispute over privacy is subject to this
                    Notice and our Conditions of Use, including limitations on damages, resolution of disputes. If
                    you have any concern about privacy at Quiz2play, please contact us with a thorough description,
                    and we will try to resolve it. Our business changes constantly, and our Privacy Notice and the
                    Conditions of Use will change also. Your current Privacy Notice applies to all information that
                    we have about you and your account. We stand behind the promises we make, however, and will
                    never materially change our policies and practices to make them less protective of customer
                    information collected in the past without the consent of affected customers. </p>
            </div>
            <div class="cat_description" *ngIf="languageswitch() == 2">
                <p>تُستخدم هذه الصفحة لإبلاغ زوار الموقع فيما يتعلق بسياساتنا بجمع المعلومات الشخصية واستخدامها والكشف
                    عنها إذا قرر أي شخص استخدام خدمتنا. إذا اخترت استخدام خدمتنا ، فأنت توافق على جمع واستخدام المعلومات
                    المتعلقة بهذه السياسة. تُستخدم المعلومات الشخصية التي نجمعها لتوفير الخدمة وتحسينها. لن نستخدم أو
                    نشارك معلوماتك مع أي شخص باستثناء ما هو موضح في سياسة الخصوصية هذه.
                </p>
                <p>المصطلحات المستخدمة في سياسة الخصوصية هذه لها نفس المعاني كما في الشروط والأحكام الخاصة بنا ، والتي
                    يمكن الوصول إليها في Quiz2play ما لم يتم تحديد خلاف ذلك في سياسة الخصوصية هذه. جمع المعلومات
                    واستخدامها</p>

                <p>للحصول على تجربة أفضل ، أثناء استخدام خدمتنا ، قد نطلب منك تزويدنا ببعض معلومات التعريف الشخصية ، بما
                    في ذلك على سبيل المثال الكاميرا أو الميكروفون أو الحسابات أو جهات الاتصال أو الهاتف. سيتم الاحتفاظ
                    بالمعلومات التي نطلبها واستخدامها كما هو موضح في سياسة الخصوصية هذه.</p>
                <p>
                    يستخدم التطبيق / البورتال خدمات الطرف الثالث التي قد تجمع المعلومات المستخدمة لتحديد هويتك. رابط إلى
                    سياسة الخصوصية لمقدمي خدمات الطرف الثالث المستخدمة من قبل التطبيق / البورتال
                </p>
                <p>خدمات تطبيقات جوجل
                    تسجيل البيانات
                </p>
                <p>
                    نريد أن نعلمك أنه كلما استخدمت خدمتنا ، في حالة حدوث خطأ في التطبيق / البورتال، نقوم بجمع البيانات
                    والمعلومات (من خلال الطرف الثالث) على هاتفك الذي يطلق عليه تسجيل البيانات. قد تتضمن بيانات السجل هذه
                    معلومات مثل عنوان بروتوكول الإنترنت (""IP"") لجهازك ، واسم الجهاز ، وإصدار نظام التشغيل ، وتهيئة
                    التطبيق / البوابة عند استخدام خدمتنا ، ووقت وتاريخ استخدامك للخدمة ، و إحصائيات أخرى.
                </p>
                <p>كوكيز</p>
                <p>تعريف الارتباط هي ملفات تحتوي على كمية صغيرة من البيانات تُستخدم عادةً كمعرّف فريد مجهول الهوية. يتم
                    إرسال هذه إلى الويب الخاص بك من موقع الويب الذي تزوره ويتم تخزينها على الذاكرة الداخلية لجهازك..</p>
                <p>لا تستخدم هذه الخدمة ""ملفات تعريف الارتباط"" هذه بشكل واضح ومع ذلك ، قد يستخدم التطبيق / البورتال
                    رمزًا ومكتبات خارجية تستخدم ""ملفات تعريف الارتباط"" لجمع المعلومات ولتحسين خدماتها. لديك خيار قبول
                    أو رفض ملفات تعريف الارتباط هذه ومعرفة متى يتم إرسال ملف تعريف الارتباط إلى جهازك. إذا اخترت رفض
                    ملفات تعريف الارتباط الخاصة بنا ، فقد لا تتمكن من استخدام بعض أجزاء هذه الخدمة</p>
                <p>مقدمي الخدمة</p>
                <p>جوز لنا توظيف شركات وأفراد تابعين لجهات خارجية للأسباب التالية:</p>
                <p>تقديم الخدمة نيابة عنا ؛</p>
                <p>
                    لأداء الخدمات المتعلقة بالخدمة ؛ أو
                </p>
                <p>
                    لمساعدتنا في تحليل كيفية استخدام خدمتنا.
                </p>
                <p>
                    نود إبلاغ مستخدمي هذه الخدمة بأن هذه الأطراف الثالثة لها حق الوصول إلى معلوماتك الشخصية. والسبب هو
                    أداء المهام المسندة إليهم نيابة عنا. ومع ذلك ، فهي ملزمة بعدم الكشف عن المعلومات أو استخدامها لأي
                    غرض آخر
                </p>
                <p>لأمان</p>
                <p>نحن نقدر ثقت في تزويدنا بمعلوماتك الشخصية ، وبالتالي نحن نسعى جاهدين لاستخدام وسائل مقبولة تجاريا
                    لحمايتها. ولكن تذكر أنه لا توجد وسيلة نقل عبر الإنترنت أو طريقة للتخزين الإلكتروني آمنة وموثوقة
                    بنسبة 100٪ ، ولا يمكننا ضمان أمنها المطلق</p>
                <p>
                    روابط لمواقع أخرى
                </p>
                <p>
                    قد تحتوي هذه الخدمة على روابط لمواقع أخرى. إذا قمت بالنقر فوق ارتباط الجهة الخارجية ، فسيتم توجيهك
                    إلى هذا الموقع. لاحظ أن هذه المواقع الخارجية لا تعمل من قبلنا. لذلك ، ننصحك بشدة بمراجعة سياسة
                    الخصوصية لهذه المواقع. ليس لدينا أي سيطرة ولا نتحمل أي مسؤولية عن المحتوى أو سياسات الخصوصية أو
                    ممارسات أي مواقع أو خدمات تابعة لجهات خارجي
                </p>
                <p>خصوصية الأطفال</p>
                <p>
                    لا تتعامل هذه الخدمات مع أي شخص يقل عمره عن 12 عامًا. نحن لا نجمع عن قصد معلومات التعريف الشخصية من
                    الأطفال الذين تقل أعمارهم عن 12 عامًا. في حالة اكتشافنا أن طفلًا يقل عمره عن 12 عامًا قد زودنا
                    بمعلومات شخصية ، فإننا نحذفها على الفور من خوادمنا. إذا كنت أحد الوالدين أو الوصي وكنت على علم بأن
                    طفلك قد زودنا بالمعلومات الشخصية ، فيرجى الاتصال بنا حتى نتمكن من اتخاذ الإجراءات اللازمة
                </p>
                <p>التغييرات في سياسة الخصوصية هذه</p>
                <p>
                    قد نقوم بتحديث سياسة الخصوصية الخاصة بنا من وقت لآخر. وبالتالي ، يُنصح بمراجعة هذه الصفحة بشكل دوري
                    لأية تغييرات. سنعلمك بأي تغييرات من خلال نشر سياسة الخصوصية الجديدة على هذه الصفحة. هذه التغييرات
                    فعالة فور نشرها على هذه الصفحة.

                </p>
                <p>اتصل بنا إذا كانت لديك أي أسئلة أو اقتراحات حول سياسة الخصوصية الخاصة بنا ، فلا تتردد في الاتصال بنا
                </p>
                <p>تعرف Quiz2playأنك تهتم بكيفية استخدام ومشاركة المعلومات الخاصة بك ، ونحن نقدر ثقتك في أننا سنقوم بذلك
                    بعناية وعقلانية. يصف هذا الإشعار سياسة الخصوصية الخاصة بنا
                </p>
                <p>ساعدنا المعلومات التي نجمعها من العملاء في تخصيص تجربة Quiz2play الخاصة بك وتحسينها باستمرار. </p>
                <p>شروط الاستخدام والإشعارات والمراجعات </p>
                <p> ذا اخترت زيارة Quiz2play ، فإن زيارتك وأي نزاع حول الخصوصية يخضع لهذا الإشعار وشروط الاستخدام الخاصة
                    بنا ، بما في ذلك القيود المفروضة على الأضرار وحل النزاعات. إذا كانت لديك أي مخاوف بشأن الخصوصية في
                    Quiz2play ، فيرجى الاتصال بنا مع تقديم وصف شامل ، وسنحاول حلها. يتغير عملنا باستمرار ، كما سيتغير
                    إشعار الخصوصية وشروط الاستخدام. ينطبق إشعار الخصوصية الحالي الخاص بك على جميع المعلومات التي لدينا
                    عنك وعن حسابك. ومع ذلك ، فإننا نلتزم بالوعود التي نقطعها ، ولن نغير سياساتنا وممارساتنا ماديًا
                    لجعلها أقل حماية لمعلومات العملاء التي تم جمعها في </p>
            </div>
        </div>
    </div>
</div>
<app-footer> </app-footer>