.lock {
    width: 30px;
    height: 40px;
    float: right;
    position: relative;
    right: 0;
    top: 8px;
}
/* top -60px*/

.cursor{
    cursor:pointer
}
.loader_class {
    width: auto;
}
.below_text .lock img {
    margin-right: 0;
    margin-top: -19px;
}
.blk {
    position: relative;
    bottom: 0px;
    min-height: 290px;
    text-align: center;
    line-height: 230px;
  }
  .fa-lock img {
    width: auto;
   
  }

  @media(max-width:1200px){
    .blk{
        min-height: auto !important;
        line-height: normal !important;
    }
    .blk a{
        padding: 13px 0 !important;
        display: block !important;
    }
    .cate-card {
        position: static !important;
    }
    .lock_1{
        width:auto !important;
        height:auto !important;
        position: static !important;
        margin: 5px !important;
    }
    .lock_1 a{
        margin:0 !important;
        padding:0 !important;
    }
    .lock_1 img{
        margin:0 !important;
    }
    .blk p:first-of-type{
        display: flex !important;
        justify-content: space-between !important;
    }
    .cate-name{
        /* text-align: center; */
        width:100%;
        display: block !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        font-size: large;
    }
  }

  @media(max-width:667px){
       .blk{
        min-height: auto;
        line-height: normal;
      }
      /* .blk img {
        width: 60%;
        margin: 15px;
    } */
    
img.ng-lazyloaded {
    margin: 15px;
}
      .cate-card {
        position: static;
        width: 100%;
        align-items: center;
    }
    .below_text .cate-card p{
     text-overflow: ellipsis;
    }
    /* .cate-name{
        display:block;
    } */
    .blk p:first-of-type {
        font-size: 12px !important;
        display: flex !important;
        justify-content: space-between !important;
        padding: 0px;
    }
    .cate-name{
        /* text-align: center; */
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
    }
  }
