<footer class="footer_bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-lg-4 center-block">
        <p class="cursor">{{'Copyright' | translate}} </p>
      </div>
      <div class="col-md-6 col-12 ">
        <ul class="footer_menu">
          <!-- Terms &amp; Conditions -->
          <li><a class="cursor" (click)="terms()">{{'Terms' |translate}}</a></li>
          <li><a class="cursor" (click)="privacy()">{{'Privacy' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-12 ">
        <p class="cursor"><img src="assets/images/logo.png" alt="" class="text-right quitz_to_play"></p>
      </div>
    </div>
  </div>
</footer>